/* Universal Style Start */
/* * {
  margin: 0px;
  padding: 0px;
} */
body {
  font-family: 'Open Sans', sans-serif;
}
.main-title-color {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px;
}

/* Nav Styling Start*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* Header Styling */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-text {
  align-items: center;
}
.banner .hero-img {
  width: 500px;
}
.banner-one {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-two {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 5px 0px 5px 0px;
}
.banner-text {
  max-width: 500px;
}
/* Main section style */
/* About section */
.about {
  padding: 130px;
  margin: 130px 0px;
  background: #fff8f3;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-details {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
